{% extends 'base.html' %}
{% block content %}
<section class="create_ticket_section">
    <div></div>
    <div>
        <div class="home_review">
            <div class="home_time">
                <h2>{{ ticket.user }} a demandé une critique</h2>
                <p>{{ ticket.time_created }}</p>
            </div>
            <h2>{{ ticket.title }}</h2>
            {% if ticket.description %}
                <h2>{{ ticket.description }}</h2>
            {% endif %}
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="bug">
            {% endif %}
        </div>


        <form class="create_review_content" method="post" enctype="multipart/form-data">
            <div class="create_review_review">
                <h2>Critique</h2>
                    {{ review_form.as_p }}
                    {% csrf_token %}
            <div class="align_end">
                <a href="{% url 'home' %}"><button type="button">Retour</button></a>
                <button type="submit" >Publier</button>
            </div>
            </div>
        </form>
    </div>
    <div></div>
</section>
{% endblock content %}