{% extends 'base.html' %}
{% block content %}
<h2 class="create_ticket_title">Modifier la critique</h2>
<section class="create_ticket_section">
    <div></div>
    <div>
        <form class="create_ticket_content" method="post" enctype="multipart/form-data">
            {{ edit_form.as_p }}
            {% csrf_token %}
            <div class="align_end">
                <a href="{% url 'feed' %}"><button type="button">Retour</button></a>
                <button type="submit" class="home_btn">Publier</button>
            </div>
        </form>

        <h3>Supprimer le ticket</h3>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            <button type="submit" class="home_btn">Supprimer</button>
        </form>
    </div>
    <div></div>
</section>

{% endblock content %}