{% extends 'base.html' %}
{% block content %}

<section class="home_section">
    <div></div>

    <div class="home_template">
        <div class="home_btn_grid">
            <a href="{% url 'create_ticket' %}"><button class="home_btn">Demander une critique</button></a>
            <a href="{% url 'create_review' %}"><button class="home_btn">Créer une critique</button></a>
        </div>

        {% for post in posts %}
            {% if post.content_type == 'TICKET' %}
                {% include './partials/ticket_snippet.html' %}
            {% elif post.content_type == 'REVIEW' %}
                {% include './partials/review_snippet.html' %}
            {% endif %}
        {% endfor %}

    </div>

    <div></div>
</section>

{% endblock content %}