{% extends 'base.html' %}
{% block content %}
<section class="subscription_page">
    <div></div>
    <div class="subscription_content">
        <h1 class="subscription_title">Ajouter un utilisateur</h1>
        <form method="post" class="subscription_form">
        {{ form.as_p }}
        {% csrf_token %}
            <button type="submit" class="subscription_btn">Suivre</button>
        </form>

        <h1>{{ message }}</h1>

        {% if follows %}
            <h2 class="subscription_title">Abonnements</h2>
        {% endif %}
        {% for follow in follows %}
        <div class="subscription_follow">
            <h1 class="subscription_follow_title">{{ follow.followed_user }}</h1>
            <form method="post" action="{% url 'unfollow' %}" class="subscription_form_delete">
                {{ unsub.as_p }}
                {% csrf_token %}
                <button type="submit" value="{{ follow.id }}"
                        name="user_followed_id" class="subscription_delete">Supprimer
                </button>
            </form>
        </div>
        {% endfor %}

        {% if subscriber %}
            <h2 class="subscription_title">Abonnés</h2>
        {% endif %}
        {% for subscribers in subscriber %}
        <div class="subscription_follow">
            <h1 class="subscription_follow_title">{{ subscribers.user }}</h1>
        </div>
        {% endfor %}
    </div>
    <div></div>
<a href="{% url 'feed' %}">
    <div class="base_nav">
        <button type="button" class="home_btn">Retour</button>
    <div>
</a>
</section>

{% endblock content %}