{% extends 'base.html' %}
{% block content %}
<h1 class="ticket_title">Review</h1>
<section class="home_section">
    <div></div>
    <div>
        <div class="home_review">
            <div class="home_time">
                {% if post.user == user %}
                    <p class="ticket_title_margin">Vous avez posté une critique</p>
                {% else %}
                    <p class="ticket_title_margin">{{ post.user }} a publié une critique</p>
                {% endif %}
                <p class="ticket_title_margin">{{ post.time_created }}</p>
            </div>
            <h1>{{ post.headline }}</h1>
            {% if post.body %}
                <p>{{ post.body }}</p>
            {% endif %}
            <p>Note : {{ post.rating }}/5</p>
        </div>
        <div class="btn_edit">
            <a href="{% url 'feed' %}"><button type="button" class="home_btn">Retour</button></a>
            {% if user == post.user %}
                <a href="{% url 'edit_review' post.id %}"><button type="button" class="home_btn">Modifier</button></a>
            {% endif %}
        </div>
    </div>
    <div></div>
</section>
{% endblock content %}