{% extends 'base.html' %}
{% block content %}
<h1 class="ticket_title">Ticket</h1>
<section class="home_section">
    <div></div>
    <div>
        <div class="home_ticket">
        <div>
            <div class="home_time">
                {% if post.user == user %}
                    <p class="ticket_title_margin">Vous avez demandé une critique</p>
                {% else %}
                    <p class="ticket_title_margin">{{ post.user }} a demandé une critique</p>
                {% endif %}
                <p class="ticket_title_margin">{{ post.time_created }}</p>
            </div>

            <div class="ticket_nav">
                <div class="ticket_nav_content">
                    <h1 class="ticket_title_center">{{ post.title }}</h1>
                    <p>{{ post.description }}</p>
                </div>

                <div>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="bug" class="ticket_img">
                {% endif %}
                </div>
            </div>
        </div>
    <div class="nav_bottom"></div>
</div>
        <div class="btn_edit">
            <a href="{% url 'feed' %}"><button type="button" class="home_btn">Retour</button></a>
            {% if user == post.user %}
                <a href="{% url 'edit_ticket' post.id %}"><button type="button" class="home_btn">Modifier</button></a>
            {% endif %}
        </div>
    </div>
    <div></div>
</section>
{% endblock content %}