<a href="{% url 'view_review' post.id %}" class="link_decoration">
    <div class="home_review">
        <div class="home_time">
            {% if post.user == user %}
                <h2>Vous avez posté une critique</h2>
            {% else %}
                <h2>{{ post.user }} a publié une critique</h2>
            {% endif %}
            <p>{{ post.time_created }}</p>
        </div>
        <h2>{{ post.headline }} - {{ post.rating }} étoile(s)</h2>
        {% if post.body %}
            <h2>{{ post.body }}</h2>
        {% endif %}
        <a href="{% url 'view_ticket' post.ticket.id%}" class="link_decoration">
        {% if post.ticket %}
            <div class="home_review_ticket">
                <div class="home_time">
                    {% if post.ticket.user == user%}
                        <h2>Ticket - Vous</h2>
                    {% else %}
                        <h2>Ticket - {{ post.ticket.user }}</h2>
                    {% endif %}
                    <p>{{ post.ticket.time_created }}</p>
                </div>
                <h2>{{ post.ticket.title }}</h2>
                {% if post.ticket.image %}
                    <img src="{{ post.ticket.image.url }}" alt="bug">
                {% endif %}
            </div>
        {% endif %}
    </div>
</a>
