body{
    margin: 0;
    background-color: rgb(247, 180, 180, 22%);
    font-family: "Malgun Gothic", sans-serif;
}

input {
    text-align: center;
}

.base_title{
    text-align: center;
}

.base_nav {
    text-align: end;
}

.ticket_nav{
    display: grid;
    grid-template-columns: 4fr 3fr;
    text-align: end;
    grid-column-gap: 1rem;
    padding: 1.2rem;
}

.ticket_nav_content {
    text-align: left;

}

.ticket_title_margin{
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.title_color {
    color: black;
}

.nav-grid {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    height: 5em;
    align-items: center;
    border-bottom: 0.1rem solid;
    color: black;
}

.nav-margin-right {
    margin-right: 2.5rem;
    color: black;
}

.login {
    text-align: end;
}

.login_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    margin-top: 3rem;
}

.login_form {
    width: 25rem;
    height: 1.8rem;
    text-align: center;
}

.home_section {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    word-break: break-word;
}

.home_review {
    border: solid 1px;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #f3cba3;
    box-shadow: 0px 0px 4px 1px black;
}

.home_ticket {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #f9f4f4;
    box-shadow: 0px 0px 4px 1px black;
}

.home_review_ticket_create{
    border: solid 2px;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background-color: #f9f4f4;
}

.home_time {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: rgb(94 91 92 / 15%);
}

.ticket_title_center{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.ticket_img{
    border: solid 2px;
    border-color: black;
    border-radius: 0.2rem;
}

.padding_ticket {
    padding-bottom: 1rem;
}

.home_btn_grid{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 4fr 4fr;
    justify-items: center;
}

.home_btn {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    cursor: pointer;
    background-color: #0079d3;
    border-radius: 20px;
    color: white;
    font-size: 1.1rem;
    margin-right: 1rem;
    border: none;
}

.home_btn:hover {
    transform: scale(1.05);
    transition-duration: 0.15s;
    box-shadow: 0px 0px 2px 1px black;
}

.nav_bottom{
    background-color: rgb(94 91 92 / 15%);
    padding-bottom: 1.8rem;
    margin-top: 1rem;
}

.signup_grid{
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    word-break: break-word;
    text-align: center;
}

.create_ticket_section {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    word-break: break-word;
}

.create_ticket_forms {
    width: 100%;
    margin-bottom: 2rem;
}

.create_ticket_forms_title {
    height: 2rem;
    text-align: start;
}

.create_ticket_title{
    text-align: center;
}

.align_end {
    text-align: end;
}

.create_review_content {
    border: solid;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #cdcdcd;
}

.create_review_review{
    border-top: solid;
}

.ul_review {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: space-evenly;
}

.link_decoration {
    text-decoration: none;
    color: black;
}

.ticket_title {
    text-align: center;
}

.subscription_page {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    word-break: break-word;
}

.btn_edit{
    text-align: end;
}

.subscription_title {
    text-align: center;
    margin-top: 4rem;
}

.subscription_form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 3rem;
}

.subscription_form p{
    margin: 0;
    padding-left: 8rem;
    margin-right: 2rem;
}

.subscription_search {
    width: 100%;
    height: 100%;
}

.subscription_btn {
    width: 5rem;
    cursor: pointer;
    border: solid 1px;
    background-color: #bfbbbb;
}

.subscription_follow{
    border: solid 1px;
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #f9f4f4;
}

.subscription_delete{
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    cursor: pointer;
    border: solid 1px;
    background-color: #bfbbbb;
}

.subscription_form_delete{
    margin: 0;
}

.subscription_follow_title{
    margin-left: 1rem;
    margin-top: 9px;
    margin-bottom: 9px;
}

.home_review_ticket{
    border: solid 1px;
    margin-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0.8rem;
    background-color: #8b4444;

}

.create_review_content_ticket {
    border: solid 2px;
    padding: 1rem;
    border-top: none;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f9f4f4;
}

.answer_ticket_btn{
    text-align: end;
}

.signup_from{
    margin-bottom: 2rem;
}

.errorlist{
    list-style: none;
    padding: 0;
    color: red;
}

.errorlist li{
    margin-top: 1rem;
}

.edit_review_div{
    border: solid 2px;
    padding: 1rem;
}

.create_ticket_content {
    border: solid 2px;
    padding: 1rem;
    background-color: #cdcdcd;
    border-radius: 1rem;
}

.delete_ticket{
    text-align: end;
}

.red_btn{
    background-color: #b92f2f !important;
}

