{% load static %}
<html>
    <head>
        <title>LITReview</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
    <nav class="nav-grid">
        <div></div>
        <h1 class="base_title">LITReview</h1>
        {% if user.is_authenticated %}
        <div class="base_nav">
            <a class="nav-margin-right">Flux</a>
            <a class="nav-margin-right">Posts</a>
            <a href="{% url 'subscription' %}">Abonnements</a>
            <a href="{% url 'logout' %}" class="nav-margin-right">Se déconnecter</a>
        </div>
        {% endif %}
    </nav>
    {% block content %}{% endblock content %}
    </body>
</html>